/* Dispositivos muy pequeños (celulares, 600px para abajo) */

/* @media only screen and (max-width: 600px) {
  ...
} */

/* Dispositivos pequeños (tables en modo portrait(orientacion vertical) y landscape(horizontal) y celulares grandes, 600px a mas) */
/* @media only screen and (min-width: 600px) {
  ...
} */

/* Dispositivos medianos (tables en orientacion landscape, 768px and up) */
/* @media only screen and (min-width: 768px) {
  ...
} */

/* Dispositivos grandes (laptops/computadoras de escritorio, 992px para arriba) */
/* @media only screen and (min-width: 992px) {
  ...
} */

/* Pantallas muy grandes (laptos grandes and y computadoras de escritorio, 1200px hacia arriba) */
/* @media only screen and (min-width: 1200px) {
  ...
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* .roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  background: black;
  color: white;
  min-height: 100dvh;
  display: grid;

  font-family: "Roboto",
  sans-serif;
  /* font family es el tipo de letra(la fammilia) */

  font-optical-sizing: auto;
  font-weight: 400;
  /* font weight es el grosor de la letra */

  /* font style es estilo de la letra como cursiva por ejemplo */
  font-style: italic;
  font-variation-settings:
    "wdth" 100;

  /* grid-template-columns: auto 1fr 1fr 1fr; */
  /* grid-template-columns: auto repeat(3, 1fr);
  grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr; */
  /* grid-template-rows: auto repeat(5,1fr); */
  /* grid-template-areas:
    "header header header header"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "footer footer footer footer"
  ; */

  grid-template-columns: 1fr;
  grid-template-rows: auto 2fr 1fr auto;


  grid-template-areas:
    "header"
    "main"
    "aside"
    "footer"
  ;
  /* place-content: center; */
}

header {
  grid-area: header;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* main axis -> (eje principal)  */
  align-items: center;
  /* para centrar elementos en el eje secundario usare align items */
  gap: 6px;
}

a {
  text-decoration: none;
  color: white;
  font-size: x-small;
  text-transform: uppercase;
}

aside {
  grid-area: aside;
  background: tomato;
}

main {
  grid-area: main;
  background: yellow;
  display: flex;
  flex-direction: column;

  /* debemos sabe enq ue direccion estan nuestros elementos , vertical u horizontal , dependiendo de eso , tendre mi eje principal y mi eje secundario */

  /* eje principal(main axis) -> eje y , vertical  */

  /* eje secundario cross axis -> eje x , horizontal */
}

footer {
  grid-area: footer;
  background: blue;
}
