@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  font-size: 16px;
  color: black;
  min-height: 100dvh;
  display: grid;
  font-family: "Roboto",
    sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;

  font-variation-settings:
    "wdth" 100;
  grid-template-columns: 1fr;
  grid-template-rows: auto repeat(7, auto) auto;
  grid-template-areas:
    "header"
    "converting-section"
    "partners-sections"
    "feature-section"
    "why-choose-us-section"
    "review-section"
    "faq-section"
    "cta-heading-section"
    "footer"
  ;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  align-items: center;
}

header>img {
  /* flex: 1; */
  max-width: fit-content;
}

header>nav {
  display: none;
  /* display: flex; */
  /* flex: 6; */
  align-items: center;
}

header>button {
  /* flex:1; */
  max-width: fit-content;
}

ul {
  display: flex;
  gap: 12px;
}

ul>li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

button {
  display: flex;
  margin: 6px;
  gap: 4px;
  border: none;
  color: white;
  background: black;
  border-radius: 20px;
  padding: 5px 15px;
}

#converting-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#partners-sections {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 6px;
  margin: 10px;
  justify-content: center;
  max-height: fit-content;
  max-width: 95%;
  /* border: 1px solid black; */
}

#partners-sections>p {
  align-items: center;
  text-transform: uppercase;
  text-align: center;
}

#partners-sections>div {
  display: flex;
  justify-content: space-around;
}

#feature-section,
#why-choose-us-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

#feature-section-container-title,
#why-choose-us-section-title-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: center;
  width: fit-content;
  height: fit-content;
  margin: 10px auto;
}

.features-section-cards-container-card {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  margin-left: 10px;
  margin-right: 10px;
  gap: 24px;
  background: #f0f0f0;
  border-radius: 10px;

}

#features-section-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}



.features-section-cards-container-card {
  div {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}




.min-container {
  /* max-width: 50%; */
  display: flex;
  flex: 1;
  flex-direction: column;

  div {
    h4 {
      font-size: small;
    }

    p {
      font-size: 12px;
    }
  }

}

.why-choose-us-section-cards-container {
  display: flex;
  gap: 24px;
  flex-direction: row;
  max-width:90vw;
  overflow-x: auto;
}

.why-choose-us-section-cards-container--card {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin: 12px;
  /* border: 1px solid black; */

  img {
    max-width: 24px;
  }

  h5 {
    font-size: small;
  }

  p {
    font-size: small;
  }
}

.img-white-placeholder {
  max-width: 100px;
  width: 90px;
  border-radius: 10px;
  margin: auto;
  /* border: 1px solid black; */
}

.min-img {
  max-width: 120px;
  max-height: 80px;
}

.features-section-cards-container-card>div>h4 {
  color: #6f6f6f;
}

.features-section-cards-container-card>div>p {
  justify-content: left;
  color: #bebdbd;
  font-size: x-small;
}

.converting-section-buttons-container {
  display: flex;
}

#hero {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  align-self: center;
  gap: 24px;
  align-items: center;
  /* align-self: center; */
  /* margin: 0 auto; */
}

.toggle-menu-container-subcontainer-content {
  /* display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: auto; */
  /* max-width: 50%; */
}

.menu-container {
  display: flex;
  gap: 6px;
}

#toggle-menu {
  display: flex;
  font-size: small;
  border-radius: 10px;
  height: fit-content;
  justify-content: center;
  align-content: center;
  background: #f4f3f3;
  width: fit-content;
  padding: 2px;
}

#toggle-menu>.toggle-menu-container {
  display: flex;
  font-weight: 400;
  gap: 6px;
}

#toggle-menu>.toggle-menu-container>span {
  background: white;
  height: fit-content;
  padding-right: 5px;
  margin-left: 3px;
  padding-left: 5px;
  /* border-radius: 10px; */
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
}

.toggle-menu-container-subcontainer {
  display: flex;
  gap: 4px;
}

.toggle-menu-container {
  display: flex;
  gap: 4px;
}

.hero-placeholder {
  /* display: block;
    width: 100vw;
    max-width: 100vw;
    height: auto;
    margin-left: calc(-50vw + 50%);
    max-height: 15%; */
}


@media only screen and (min-width: 1200px) {

  header>nav {
    display: flex;
  }

  .menu-container>img {
    display: none;
  }



}
