* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  background: black;
  color: white;
  min-height: 100dvh;
  display: grid;
  /* grid-template-columns: auto 1fr 1fr 1fr; */
  grid-template-columns: auto repeat(3,1fr);
  grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: auto repeat(5,1fr); */
  grid-template-areas:
    "header header header header"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "footer footer footer footer"
  ;
}

header {
  grid-area: header;
  background: green;
}

aside {
  grid-area: aside;
  background: tomato;
}

main {
  grid-area: main;
  background: yellow;
}

footer {
  grid-area: footer;
  background: blue;
}
