* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  background: black;
  color: white;
  min-height: 100dvh;
  display: grid;
  /* grid-template-columns: auto 1fr 1fr 1fr; */
  grid-template-columns: auto repeat(3, 1fr);
  grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: auto repeat(5,1fr); */
  grid-template-areas:
    "header header header header"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "footer footer footer footer"
  ;
}

header {
  grid-area: header;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
}

.logo {
  font-size: large;
  font-style: italic;
  font-weight: 900;
}

ul {
  list-style: none;
  display: flex;
  gap: 6px;
}

a {
  text-decoration: none;
  color: white;
  font-size: x-small;
  text-transform: uppercase;
}

aside {
  grid-area: aside;
  background: tomato;
}

main {
  grid-area: main;
  background: yellow;
}

footer {
  grid-area: footer;
  background: blue;
}
