* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  background: black;
  color: white;
  min-height: 100dvh;
  display: grid;
  /* grid-template-columns: auto 1fr 1fr 1fr; */
  grid-template-columns: auto repeat(3,1fr);
  grid-template-rows: auto 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: auto repeat(5,1fr); */
  grid-template-areas:
    "h h h h"
    "a m m m"
    "a m m m"
    "a m m m"
    "a m m m"
    "f f f f"
  ;
}

header {
  grid-area: h;
  background: green;
}

aside {
  grid-area: a;
  background: tomato;
}

main {
  grid-area: m;
  background: yellow;
}

footer {
  grid-area: f;
  background: blue;
}
